<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alchemy : <%= item[:title] %></title>
  <link href="/css/default.css" rel="stylesheet">
</head>
<body>

  <div class="sidebar">
    <a href="/index.html" class="brand">Alchemy</a>
    <%= render 'navigation' %>
  </div>

  <div class="content">
    <% if item[:show_toc] == true %><%= toc %><% end %>
    <%= yield %>
    <div class="footer">
      <hr style="margin-bottom:5px;">
      <p style="margin-bottom: 3px;">&copy; Austin Hyde, Wil Pitonyak, Matt Sapet, and Kyle Davido 2013</p>
      <p style="font-style: italic">Windows, Apple, Mac OS X, Linux, their logos and any other third party trademarks are property of their respective owners.</p>
    </div>
  </div>
</body>
</html>