@sidebar-width: 300px;
@sidebar-padding: 10px;
@sidebar-margin: 10px;

@content-top-padding: 15px;
@content-side-padding: 20px;

@primary-color: #3b73d1;
@inverse-primary-color: #FFF;
@link-color-inactive: @primary-color;
@link-color-hover: #333;

@monospace-font: 'Source Code Pro', 'Droid Sans Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;
@font-size: 14px;
@p-spacing: 16px;
@h-spacing: 8px;

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: @font-size;
}

a {
  color: @link-color-inactive;
  text-decoration: none;

  &:hover{
    color: @link-color-hover;
    text-decoration: underline;
  }
}

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

h1 {
  margin-top: 0;
  margin-bottom: @h-spacing;
  font-size: 40px;
}

h2 {
  margin-top: 0;
  margin-bottom: @h-spacing;
  font-size: 30px;
}

p {
  margin-top: 0;
  margin-bottom: @p-spacing;
}

pre {
  border-left: 1px solid #333;
  margin-left: 10px;
  padding-left: 10px;
  font-family: @monospace-font;

  overflow: auto;
}

p code {
  font-size: .9*@font-size;
  font-family: @monospace-font;
  white-space: nowrap;

  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 2px;
}

table {
  margin: 0;
  margin-bottom: @p-spacing;
}

.alert {
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  margin-bottom: 8px;
  padding: 3px;

  &.alert-warning {
    background-color: #fcf8e3;
  }
  &.alert-info {
    background-color: #d9edf7;
  }
}

.sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  width: @sidebar-width - 2*@sidebar-padding;
  padding: @sidebar-padding;

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-align: right;
      font-size: 1.2*@font-size;
      margin-bottom: 2px;

      & > a {
        padding: 0 4px;

        &:hover {
          background-color: @primary-color;
          color: @inverse-primary-color;
          text-decoration: none;
        }
      }

      &.active > a {
        background-color: @primary-color;
        color: @inverse-primary-color;
      }

      ul {
        list-style: none;
        border-right: 2px solid @primary-color;
        padding: 4px 10px 4px 0;
      }
    }
  }
}

.brand {
  display: block;
  text-align: right;
  color: @primary-color;
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;

  &:hover {
    text-decoration: none;
    color: @primary-color;
  }
}

.content {
  position: relative;

  margin: 0;
  margin-left: @sidebar-width - @sidebar-margin + @content-side-padding;

  padding: 0;
  padding-top: @content-top-padding;
  padding-right: @content-side-padding;
  padding-bottom: 30px;

  min-height: 600px;
  max-width: 800px;
}

.nav-toc {
  float: right;
  background-color: #EEE;
  border-radius: 4px;
  padding: 20px 20px;
  list-style: none;

  .sect {
    font-weight: bold;
    color: #999;
    text-align: center;
  }
}

.footer {
  text-align: right;
  font-size: smaller;
  color: #CCC;

  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  margin-left: -10px;
}